[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/SUSHIL-NICS
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SUSHIL-NICS
	label-Verified = -1..+1 group user/SUSHIL-NICS
	push = group user/SUSHIL-NICS
	read = group user/SUSHIL-NICS
	rebase = group user/SUSHIL-NICS
	removeReviewer = group user/SUSHIL-NICS
	submit = group user/SUSHIL-NICS
[access "refs/heads/*"]
	create = group user/SUSHIL-NICS
	push = +force group user/SUSHIL-NICS
	pushMerge = group user/SUSHIL-NICS
	read = group user/SUSHIL-NICS
[access "refs/tags/*"]
	push = group user/SUSHIL-NICS
	push = +force group user/SUSHIL-NICS
